.container {
  max-width: 40rem;
  margin-inline: auto;
}

.gridOne {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.gridTwo {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
}

.gridTwo .one {
  background-color: red;
  color: antiquewhite;
}
.gridTwo .two {
  background-color: blue;
  color: antiquewhite;
}
.gridTwo .three {
  background-color: yellow;
}

.gridThree {
  display: grid;
  grid-template-rows: 1fr 3fr;
  width: 500px;
  height: 300px;
}

.gridThree .one {
  background-color: #d6d5d5;
}
.gridThree .two {
  background-color: #817f7f;
}

.gridThree .two img {
  width: 500px;
  height: 225px;
  object-fit: cover;
}

.gridFour {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 500px;
  background-color: green;
  color: white;
}

.gridFour #two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gridFive {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  width: 500px;
  background-color: antiquewhite;
}

.gridFive #two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.gridFive img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
